<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="eef" params="prefix">

    <material name="${prefix}eef_color">
            <color rgba="0.5 0.5 0.5 1" />        
    </material>

    <link name="${prefix}eef_base"/>
    <link name="${prefix}eef_body">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://euler_support/meshes/visual/vacuum_gripper.stl" />
        </geometry>
        <material name="eef_color"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://euler_support/meshes/collision/vacuum_gripper.stl" />
        </geometry>
        <material name="eef_color"/>
      </collision>
    </link>
    <link name="${prefix}tcp"/>

    <joint name="${prefix}eef_base_to_${prefix}eef_body" type="fixed">
      <parent link="${prefix}eef_base" />
      <child link="${prefix}eef_body" />
      <origin xyz="0 0 0" rpy="-1.57 0 1.57" />
    </joint>

    <joint name="${prefix}eef_base_to_${prefix}tcp" type="fixed">
      <parent link="${prefix}eef_base" />
      <child link="${prefix}tcp" />
      <origin xyz="0 0 0.17" rpy="0 0 0" />
    </joint>

  </xacro:macro>

</robot>
