<?xml version="1.0" ?>
<launch>
<!--  
	The vetexvels geometry_msgs/Twist message takes the speed commands for the base
	The values in the 'vetexvels' message will be scaled by the vetex_*_scale parameters
	The combination of speed and parameter factors should be at least 20 in order to 
	start moving the base
-->
  <remap from="vetexvels" to="euler/cmd_vel"/>
	<node name="vetex_driver" pkg="vetex_driver" type="vetex_driver" output="screen">
   	<param name="max_speed_x" value="1.08"/>
	  <param name="max_speed_y" value="1.08"/>
	  <param name="max_speed_r" value="0.41"/>
	  <param name="min_speed_x" value="0.001"/>
	  <param name="min_speed_y" value="0.001"/>
	  <param name="min_speed_r" value="0.001"/>
    <param name="throtle_scale_factor" value="100"/>
    <param name="max_acc" value="75"/>
    <param name="max_decel" value="300"/>
    <param name="ramp_time_inc" value="0.01"/>
	</node>
</launch>
