<!--
  Euler base interface(drivers):
    - Moves vextex base
    - Provides odometry data

  Defaults provided for euler:
   - Motoman controller = fs100
   - Motoman driver version > 0

  Usage:
    base_interface.launch 
-->
<launch>
  <arg name="nav350_ip" />

  <!-- Vetex Base -->
    <!-- TODO: Add base driver node : vetex_supprt:robot_interface.launch -->



</launch>
