<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find euler_support)/urdf/euler.xacro'" />

  <!-- Launch mutable joint state publisher for calibratable transforms -->
  <node  name="mutable_joint_state_publisher" pkg="industrial_extrinsic_cal" type="mutable_joint_state_publisher" >
    <param name="mutable_joint_state_yaml_file" value="$(find euler_support)/config/euler_mutable_joint_states.yaml" />
  </node>

</launch>
