<?xml version="1.0"?>
<launch>
  <include file="$(find euler_navigation_demo)/launch/stage.launch"/>
  <include file="$(find euler_navigation_demo)/launch/fake_localization.launch"/>

  <!-- mobile base planning -->
  <include file="$(find euler_navigation)/launch/move_base.launch"/>

  <param name="robot_description" command="$(find xacro)/xacro.py $(find euler_support)/urdf/euler.xacro" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node required="true" name="rviz" pkg="rviz" type="rviz" args="-d $(find euler_navigation)/euler_nav.rviz"/>
</launch>

