<launch>
    <node name="move_base_node" pkg="move_base" type="move_base" output="screen">
        <rosparam command="load" ns="global_costmap"
            file="$(find euler_navigation)/params/costmap_common.yaml" />
        <rosparam command="load" ns="local_costmap"
            file="$(find euler_navigation)/params/costmap_common.yaml" />
        <rosparam command="load"
            file="$(find euler_navigation)/params/move_base.yaml" />
        <rosparam command="load" ns="DWAPlannerROS"
            file="$(find euler_navigation)/params/dwa.yaml" />
    </node>
</launch>
